#block-9e9b3510ea83d4b933d2{
    margin: 5px;
   padding: 5px;
   width: 677px;
   height: 278px;
   overflow: auto;
   scrollbar-color: red yellow;
   text-align: justify;
   scrollbar-color: red !important;}